<h1>Topics</h1>
<div class="rtable table-striped">
  <div class="col-md-4 col-md-offset-4">
    <table class= "table table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Votes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= link_to topic.title, topic_path(topic) %></td>
        <td><%= pluralize(topic.votes.count, "vote") %></td>
        <td><%=link_to 'votar', upvote_topic_path(topic), method: :post, class: 'btn btn-primary'%></td>
      </tr>
    <% end %>
  </tbody>
</table>
  </div>
</div>

<br>

<%= link_to 'New Topic', new_topic_path, class: 'btn btn-secondary' %>
